.brand { font-size: larger; }
.feelings { width: 80%; margin: 0 auto;  }


a { background: #FADF1D; color: #fff; }
a:hover,m a:active, a:focus { color: aqua; text-decoration: none; }

.date { padding-left: 5%;}