<template name="feelingSubmit">
    <form class="main form">
        <div class="form-group">
            <label class="control-label" for="url">Title</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="" placeholder="Title" required class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="title">Feeling</label>
            <div class="controls">
                <input name="feeling" id="feeling" type="text" value="" required placeholder="What are your feeling" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>